
number_to_text/.vs/number_to_text/v16/.suo
number_to_text/.vs/number_to_text/v16/Browse.VC.db
number_to_text/.vs/number_to_text/v16/Browse.VC.opendb
number_to_text/.vs/number_to_text/v16/ipch/AutoPCH/7654b7b1e23c0a40/NUMBER_TO_TEXT.ipch
number_to_text/Debug/number_to_text.exe
number_to_text/Debug/number_to_text.ilk
number_to_text/Debug/number_to_text.pdb
number_to_text/number_to_text.sln
number_to_text/number_to_text/Debug/number_to_text.log
number_to_text/number_to_text/Debug/number_to_text.obj
number_to_text/number_to_text/Debug/number_to_text.tlog/CL.command.1.tlog
number_to_text/number_to_text/Debug/number_to_text.tlog/CL.read.1.tlog
number_to_text/number_to_text/Debug/number_to_text.tlog/CL.write.1.tlog
number_to_text/number_to_text/Debug/number_to_text.tlog/link.command.1.tlog
number_to_text/number_to_text/Debug/number_to_text.tlog/link.read.1.tlog
number_to_text/number_to_text/Debug/number_to_text.tlog/link.write.1.tlog
number_to_text/number_to_text/Debug/number_to_text.tlog/number_to_text.lastbuildstate
number_to_text/number_to_text/Debug/vc142.idb
number_to_text/number_to_text/Debug/vc142.pdb
number_to_text/number_to_text/number_to_text.vcxproj
number_to_text/number_to_text/number_to_text.vcxproj.filters
number_to_text/number_to_text/number_to_text.vcxproj.user
